*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.container{

   padding: 5rem;
   margin-top: 5rem;
   margin-bottom: 5rem;
   width: 100%;
   height: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

main{
    background-color: antiquewhite;
}

#likebutton{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 10%;
    gap: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(103, 103, 239);
}
#likebutton span{
    font-size: 1.25rem;
}